<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shirt Detail</title>
</head>
<body>
<h1>Shirt Detail</h1>
<div>
    <label for="codeShirtDetail">Code Shirt Detail:</label>
    <span id="codeShirtDetail" th:text="${shirtDetail.codeShirtDetail}"></span>
</div>

<div>
    <label for="nameShirt">Name:</label>
    <span id="nameShirt" th:text="${shirtDetail.nameShirt}"></span>
</div>

<div>
    <label for="price">Price:</label>
    <span id="price" th:text="${shirtDetail.price}"></span>
</div>

<div>
    <label for="quantity">Quantity:</label>
    <span id="quantity" th:text="${shirtDetail.quantity}"></span>
</div>

<div>
    <label for="pattern">Pattern:</label>
    <span id="pattern" th:text="${shirtDetail.namePattern}"></span>
</div>

<div>
    <label for="gender">Gender:</label>
    <span id="gender" th:text="${shirtDetail.gender}"></span>
</div>

<div>
    <label for="origin">Origin:</label>
    <span id="origin" th:text="${shirtDetail.origin}"></span>
</div>

<div>
    <label for="season">Season:</label>
    <span id="season" th:text="${shirtDetail.season}"></span>
</div>

<div>
    <label for="size">Size:</label>
    <span id="size" th:text="${shirtDetail.size}"></span>
</div>

<div>
    <label for="material">Material:</label>
    <span id="material" th:text="${shirtDetail.material}"></span>
</div>

<div>
    <label for="color">Color:</label>
    <span id="color" th:text="${shirtDetail.color}"></span>
</div>

<div>
    <button onclick="window.location.href='/shirt-details/hienthi'">Back to List</button>
</div>
</body>
</html>
