<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update Shirt Detail</title>
</head>
<body>
<h1>Update Shirt Detail</h1>
<form action="#" th:action="@{/shirt-details/update/{codeShirtDetail}(codeShirtDetail=${shirtDetail.codeShirtDetail})}" th:object="${shirtDetail}" method="post">
    <input type="hidden" th:name="_method" value="put"/> <!-- Trường ẩn để xác định phương thức PUT -->

    <label for="codeShirtDetail">Code Shirt Detail:</label>
    <input type="text" id="codeShirtDetail" th:field="*{codeShirtDetail}" readonly/>

    <label for="price">Price:</label>
    <input type="number" id="price" th:field="*{price}" required step="0.01" min="0"/>

    <label for="quantity">Quantity:</label>
    <input type="number" id="quantity" th:field="*{quantity}" required min="0"/>

    <label for="patternId">Pattern:</label>
    <select id="patternId" th:field="*{pattern.id}" required>
        <option th:each="pattern : ${patterns}" th:value="${pattern.id}" th:text="${pattern.namePattern}" th:selected="${pattern.id == shirtDetail.pattern.id}"></option>
    </select>

    <label for="genderId">Gender:</label>
    <select id="genderId" th:field="*{gender.id}" required>
        <option th:each="gender : ${genders}" th:value="${gender.id}" th:text="${gender.nameGender}" th:selected="${gender.id == shirtDetail.gender.id}"></option>
    </select>

    <label for="originId">Origin:</label>
    <select id="originId" th:field="*{origin.id}" required>
        <option th:each="origin : ${origins}" th:value="${origin.id}" th:text="${origin.nameOrigin}" th:selected="${origin.id == shirtDetail.origin.id}"></option>
    </select>

    <label for="seasonId">Season:</label>
    <select id="seasonId" th:field="*{season.id}" required>
        <option th:each="season : ${seasons}" th:value="${season.id}" th:text="${season.nameSeason}" th:selected="${season.id == shirtDetail.season.id}"></option>
    </select>

    <label for="sizeId">Size:</label>
    <select id="sizeId" th:field="*{size.id}" required>
        <option th:each="size : ${sizes}" th:value="${size.id}" th:text="${size.namesize}" th:selected="${size.id == shirtDetail.size.id}"></option>
    </select>

    <label for="materialId">Material:</label>
    <select id="materialId" th:field="*{material.id}" required>
        <option th:each="material : ${materials}" th:value="${material.id}" th:text="${material.nameMaterial}" th:selected="${material.id == shirtDetail.material.id}"></option>
    </select>

    <label for="colorId">Color:</label>
    <select id="colorId" th:field="*{color.id}" required>
        <option th:each="color : ${colors}" th:value="${color.id}" th:text="${color.nameColor}" th:selected="${color.id == shirtDetail.color.id}"></option>
    </select>

    <button type="submit">Update Shirt Detail</button>
</form>
<a href="/api/shirt-details/hien-thi">Back to List</a>
</body>
</html>
